// scss variable goes here
// color
$color-p-black: #000;
$color-p-white: #fff;
$color-p-red: #e5173f;

// spacing
$container-w: var(--container-w);
$space-c-x: var(--space-c-x);
$space-c-t: var(--space-c-t);
$space-c-b: var(--space-c-b);

$space-3xs: var(--space-3xs);
$space-2xs: var(--space-2xs);
$space-xs: var(--space-xs);
$space-s: var(--space-s);
$space-m: var(--space-m);
$space-l: var(--space-l);
$space-xl: var(--space-xl);
$space-2xl: var(--space-2xl);
$space-3xl: var(--space-3xl);
$space-4xl: var(--space-4xl);

//arrow banner safezone
$banner-safezone: 6.6rem;

// fonts
$font-p: "Roboto Condensed", sans-serif;
$font-s: "Barlow Condensed", sans-serif;

// system
$fz-base-large: 16;
$fz-base-medium: 15;
$fz-base-small: 15;
